body{
    background-color: rgb(126, 116, 102) !important;
}
h2{
    font-size: 40px !important;
}


.card-form {
    background-color: rgba(198, 185, 185, 0.921);
    border-radius: 10px;
    height: 580px
   
}